<!-- views/about.ejs -->
<% include('layout', { body: (function () { %>
  <section class="about">
    <h2>About Me</h2>
    <p>Marie Belyne Nzabona, born on March 21st, 1998, in Kigali, Rwanda. I have a background in Mechanical Engineering
      and am currently focusing on Backend Development.</p>
    <h3>Education</h3>
    <p>Near East University, Nicosia, Cyprus - Bachelor's in Mechanical Engineering (Paused)</p>
    <p>ALX SWE Program, online - Certificate in Software Engineering with Backend Specialization</p>
    <p>Meta Coursera Backend Development, online - Currently Enrolled</p>
    <p>Africa Agility Foundation, online - Backend Web Development</p>
  </section>
  <% })() }) %>